<!-- 
    
/*

  File name : editContaqct.ejs
  Student name :Vishwa Akhani
  StudentID :300913898
  Date:29 October 2020

*/
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/header %>
</head>

<body id="page-top">
    <!-- Navigation-->
    <% include ./partials/navmenu %>

    <section id="contact ">
        <div class="container">
            <div class="error_container">
                <h2 class="text-center text-uppercase text-danger mt-5 mb-0">Edit Contact</h2>
                <hr class="star-dark mb-5" />
                <div class="col-md-6 offset-md-3">
                    <form action="/editcontact/<%=contact._id%>" method="POST" class="form">
                        <div class="field">
                            <label> Name: </label>
                            <input class="form-control" type="text" name="contact[name]" placeholder="name"
                                value='<%=contact.name%>'>
                        </div>
                        <div class="field">
                            <label> Phone Number : </label>
                            <input class="form-control" type="text" name="contact[number]" placeholder="Number"
                                value='<%=contact.number%>'>
                        </div>
                        <div class="field">
                            <label> Email: </label>
                            <input class="form-control" name="contact[email]" value='<%=contact.email%>'>
                        </div>
                        <div class="d-flex mt-4">
                            <button type="submit" class="anButton mr-1 mt-4">Submit
                                <div></div>
                                <i class="fas fa-check"></i>
                            </button>
                            <a href="/delete/<%= contact._id %>" class="anButton mr-1 mt-4">Delete<div></div>
                                <i class="fas fa-trash"></i>
                            </a>
                            <a href="/contactlist" class="anButton mr-1 mt-4">Cancel<div></div>
                                <i class="fas fa-list"></i>
                            </a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>